<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee web-app_2_5.xsd" 
id="WebApp_ID" 
version="2.5">


  <!-- 의미 없음 -->
  <display-name>Spring MVC</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

<!--   
  - DispatcherServlet을 웹어플리케이션에 등록(ex: [servletname]-servlet.xml)
  - DispatcherServlet이 스프링 컨테이너가 되기 위해 사용할 스프링 설정파일 지정
 -->

  <!-- 스프링에서 사용할 DispactherServlet이라는 서블릿 클래스를 설정하는 소스 -->
  <servlet>
  	<!-- Dispatcher 서블릿 이름 정의 -->
  	<servlet-name>shopping</servlet-name> 
  	
  	<!--  index.jsp페이지에서  <servlet-name>이 호출되면 실질적으로 불려질 DispatcherServlet  -->
  	<!-- Spring프레임워크에서 제공하는 Dispatcher 서블릿 클래스 정의 -->
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	
  	<!-- 큰의미는 없지만 서블릿이 로드되는 속도정도.... --> 	
  	<load-on-startup>1</load-on-startup>
  </servlet>
    
  <servlet-mapping>
  	<!-- Dispatcher 서블릿 이름 정의 -->
  	<servlet-name>shopping</servlet-name>
  	
  	<!-- 확장자명이 .do로 들어오는 요청을DispatherServlet 서블릿에서 처리 --> 
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
 
  
  
  
  <!-- 한글이 깨지지 않도록 필터 설정 (한글처리)-->
  <!-- 
   스프링에서는 url 요청이 매핑 될시 해당 필터를 처음 거치는데 이필터를 통과할때 한글값을 인코딩해주려면
   아래와 같이한다 
  -->  
  <filter>
  	<filter-name>encodingFilter</filter-name>
  	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>EUC-KR</param-value>
  	</init-param>
  </filter>

  <!--  해당 필터 네임이 처리하는 작업을 url과 매핑 하려면 아래와 같이 한다. -->  
  <filter-mapping>
    <!-- 필터 네임 지정 -->
  	<filter-name>encodingFilter</filter-name>
  	
  	<!-- url 패턴 정의 아래는 모든 url 요청을 의미함 -->  	
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- 모든 타입의 데이터가 들어 오더라도 한글이 깨지지 않게 설정함 -->
</web-app>